.footer{
    
    background-color: black;
    padding: 1.5em 0;
    font-size: $small;
    width: 100%;
   


}


.footer-ultm-item{

    text-align: center;
    padding-top: 1.5em;
    color: #c7c8cc;

    p {
        font-size: $small;
    }
}


.footer-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    a {
        text-decoration: none;
        display: inline-block;
        color:  #C7C8CC;
    }
}


@media screen and (min-width: 768px) {
    .footer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        a {
            padding: 0 2em;
            font-size: $medium;
        }
    }

    .footer-ultm-item{
        padding-top: 0;
        
        p {
            font-size: $small;
        }
    }

}
